/* Login */

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form {
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.auth-form h2 {
    margin-bottom: 20px;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form input:focus {
    box-shadow: 0 0 3px #000;
}

.auth-form input[type="password"] {
    letter-spacing: 1px;
}

.auth-form button {
    background-color: salmon;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form button:hover {
    background-color: #4caf50;
}

.register-link {
    margin-top: 10px;
}

.register-link a {
    color: dodgerblue;
}

.register-link a:hover {
    text-decoration: underline;
}

.forgot-password-link {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.forgot-password-link:hover {
    text-decoration: underline;
    color: #ff0000;
}


.reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.button1 {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* spinner */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust according to your layout */
  }